# Binaries
**/bin/
!vendor/premake/
!XYZEngine/vendor/mono/bin
bin-int/
obj/

# Log files
**.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

#Idea
.idea/

# Makefiles
**/Makefile

XYZEngine/vendor/VulkanSDK
scripts/__pycache__