[submodule "XYZEngine/vendor/glfw"]
	path = XYZEngine/vendor/glfw
	url = https://github.com/Bodka0904/glfw.git
[submodule "XYZEngine/vendor/glm"]
	path = XYZEngine/vendor/glm
	url = https://github.com/SimonGido/glm.git
[submodule "XYZEngine/vendor/yaml-cpp"]
	path = XYZEngine/vendor/yaml-cpp
	url = https://github.com/SimonGido/yaml-cpp.git
[submodule "XYZEngine/vendor/imgui"]
	path = XYZEngine/vendor/imgui
	url = https://github.com/SimonGido/imgui.git
[submodule "XYZEngine/vendor/box2d"]
	path = XYZEngine/vendor/box2d
	url = https://github.com/SimonGido/box2d.git
[submodule "XYZEngine/vendor/spdlog"]
	path = XYZEngine/vendor/spdlog
	url = https://github.com/SimonGido/spdlog.git
[submodule "XYZEngine/vendor/optick"]
	path = XYZEngine/vendor/optick
	url = https://github.com/SimonGido/optick.git
[submodule "XYZEngine/vendor/ozz-animation"]
	path = XYZEngine/vendor/ozz-animation
	url = https://github.com/SimonGido/ozz-animation.git
[submodule "XYZEngine/vendor/entt"]
	path = XYZEngine/vendor/entt
	url = https://github.com/SimonGido/entt.git
[submodule "XYZEngine/vendor/imgui-node-editor"]
	path = XYZEngine/vendor/imgui-node-editor
	url = https://github.com/SimonGido/imgui-node-editor.git
[submodule "XYZEngine/vendor/ImGuizmo"]
	path = XYZEngine/vendor/ImGuizmo
	url = https://github.com/SimonGido/ImGuizmo.git
[submodule "XYZEngine/vendor/OpenXR-SDK"]
	path = XYZEngine/vendor/OpenXR-SDK
	url = https://github.com/SimonGido/OpenXR-SDK.git
