[submodule "XYZEngine/vendor/glfw"]
	path = XYZEngine/vendor/glfw
	url = https://github.com/Bodka0904/glfw.git
[submodule "XYZEngine/vendor/glm"]
	path = XYZEngine/vendor/glm
	url = https://github.com/SimonGido/glm.git
[submodule "XYZEngine/vendor/yaml-cpp"]
	path = XYZEngine/vendor/yaml-cpp
	url = https://github.com/SimonGido/yaml-cpp.git
