# Binaries
**/bin/
!vendor/premake/
!XYZEngine/vendor/mono/bin
bin-int/
obj/
**/cache/**
XYZEngine/vendor/VulkanSDK
XYZEditor/Assets/Scripts/XYZScript.dll
XYZEditor/Assets/Scripts/XYZScript.pdb
XYZEditor/Assets/Scripts/XYZScriptCore.dll
XYZEditor/Assets/Scripts/XYZScriptCore.pdb
__pycache__
Intermediates/


# Log files
**.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user


#Idea
.idea/

# Makefiles
**/Makefile


